.container {
  background-color: aqua;
  height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.one {
  background-color: rgb(197, 160, 160);
  height: 150px;
  width: 250px;
}
.two {
  background-color: rgb(76, 143, 79);
  height: 150px;
  width: 250px;
}
.three {
  background-color: rgb(143, 76, 76);
  height: 150px;
  width: 250px;
}

.four {
  background-color: darkgrey;
  height: 150px;
  width: 250px;
}
h1 {
  text-align: center;
  /* background-color: crimson; */
  height: 60px;
}
body {
  background-color: crimson;
}
h3 {
  text-align: center;
}
